<html>
	<head><meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
		<title>Controller Score System</title><meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	</head>

	<!-- script -->
	<script src="../js/jquery-3.1.1.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>

	<!-- Bootstrap -->
	<link rel="stylesheet" href="../css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/bootstrap-theme.min.css">
	<script src="../js/bootstrap.min.js"></script>

    <style>
        .greyedOut
        {
            background:red;
        }
    </style>

	<script>
	var socket = io();
	var count = 0;

	$(document).ready(function(){

		// setup System
		socket.on('setupScore', function(data){
			if(count > 0) return false;

			for(var i = 0; i<data.length; i++)
			{
				$('#team').append('<option value="' + (i+1) + '">' + (i+1) + '</option>');
			}
			count++;
		});

				//Populate question
				socket.on('populateQuestions', function(questions){
					for(var i = 0; i<questions.length; i++)
					{
						$('#bodyQuestion').append("<tr><td>" + questions[1] + "</td><td>" + questions[2] + "</td></tr>");
					}
				});

        // Greyout already showed question
        socket.on('greyOut', function(questionsArray){
            for(var i = 0; i<questionsArray.length; i++)
            {
                if(questionsArray[i] == 1)
                {
                    $("#"+i).addClass("greyedOut");
                }
            }
        });

					// Splash Screen
			$('#splashScreen').click(function()
			{
				socket.emit('splashScreen');
			});

			$('#Timer60').click(function()
			{
				socket.emit('setTimer', 3600);
			});

			$('#Timer45').click(function()
			{
				socket.emit('setTimer', 2700);
			});

			$('#Timer30').click(function()
			{
				socket.emit('setTimer', 1800);
			});

			$('#Timer25').click(function()
			{
				socket.emit('setTimer', 1500);
			});

			$('#Timer20').click(function()
			{
				socket.emit('setTimer', 1200);
			});

			// Splash Screen
			$('#Timer15').click(function()
			{
				socket.emit('setTimer', 900);
			});
			
			$('#Timer10').click(function()
			{
				socket.emit('setTimer', 600);
			});

			// Splash Screen
			$('#Timer5').click(function()
			{
				socket.emit('setTimer', 300);
			});

		// Score Screen
		$('#scoreTop5').click(function()
		{
			socket.emit('scoreScreenTop5');
		});
		$('#scoreOverview').click(function()
		{
			socket.emit('scoreScreen');
		});
		$('#scoreOverview2').click(function()
		{
			socket.emit('scoreScreen2');
		});

		// Display Question
		$('.questionShow').click(function()
		{
			socket.emit('displayQuestion', parseInt($(this).val()));
		});

		// Display Question
		$('.answerShow').click(function()
		{
			socket.emit('displayAnswer', parseInt($(this).val()));
		});

		//On score changing
		$('#changeScoreCorrect').click(function()
		{
			var data = [$('#team').val(), 30]
			// socket.emit('scoreSet', data);
			socket.emit('teamCorrect', data);
		});

		$('#changeScoreIncorrect').click(function()
		{
			var data = [$('#team').val(), -10]
			// socket.emit('scoreSet', data);
			socket.emit('teamIncorrect', data);
		});

		$('#btnFreeze').click(function()
		{
			socket.emit('FreezeTimer');
		});

		$('#save').click(function()
		{
			socket.emit('saveState');
		});

		$('#load').click(function(){
			window.location.replace('http://localhost:3000/load')
		});
	});
	</script>

	<body>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h1>Score System Controller</h1>
				<button id="splashScreen" class="btn btn-primary">Splash Screen</button>
				<button id="Timer60" class="btn btn-primary">Timer 60</button>
				<button id="Timer45" class="btn btn-primary">Timer 45</button>
				<button id="Timer30" class="btn btn-primary">Timer 30</button>
				<button id="Timer25" class="btn btn-primary">Timer 25</button>
				<button id="Timer20" class="btn btn-primary">Timer 20</button>
				<button id="Timer15" class="btn btn-primary">Timer 15</button>
				<button id="Timer10" class="btn btn-primary">Timer 10</button>
				<button id="Timer5" class="btn btn-primary">Timer 5</button>
			</div>
		</div>
		<hr width="100%">
		<div class="row">
			<div class="col-lg-12">
				<h3>Score Overview</h3>
				<button id="scoreOverview" class="btn btn-primary">
					Score Page 1
				</button>
				<button id="scoreOverview2" class="btn btn-primary">
					Score Page 2
				</button>
				<button id="scoreTop5" class="btn btn-primary">
					Score Top 5
				</button>
					<br><br>
				<form id="addScore">
					<label for="team">Select Team</label>
					<select name="team" id="team">
						<!-- nanti di isi pas setup system ;) -->
					</select>
					<!-- correct -->
					<button class="btn btn-primary" id="changeScoreCorrect">Correct</button>

					<!-- incorrect -->
					<button class="btn btn-primary" id="changeScoreIncorrect">Incorrect</button>
				</form>
			</div>
			<div class="col-lg-12">
				<h3>Save or Load State</h3>
				<div class="col-lg-6">
					<button class="btn btn-primary" id="save">Save State</button>
				</div>
				<div class="col-lg-6">
					<div class="form-group">
						<button class="btn btn-primary" id="load">Load State</button>
					</div>
				</div>
			</div>
			<div class="col-lg-12">
				<h3>Question Control</h3>

				<button id="btnFreeze" class="btn btn-primary">
					Freeze/Play
				</button><br><br>
				<table class="table table-bordered">
					<thead>
						<tr>
							<td>No</td>
							<td>Question</td>
              <td>Question Show</td>
              <td>Show Answer</td>
						</tr>
					</thead>
					<tbody id="bodyQuestion">
						<% questions.forEach(function(question){ %>
							<tr>
								<td><%= question.id+1 %></td>
								<td><%= question.question %></td>
                <td><button id="<%= question.id %>" value="<%= question.id %>" class="questionShow btn btn-primary">Show</button></td>
                <td><button id="<%= question.id %>" value="<%= question.id %>" class="answerShow btn btn-primary">Show</button></td>
							</tr>
						<% }); %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	</body>
</html>
